name: 02 - Workflow Events
on: 
  push:
  pull_request:
  schedule:
    # This example runs at 00:00 UTC every day.
    - cron: '0 0 * * *'
  workflow_dispatch:
    
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:      
      - name: Show the trigger
        run: echo "Event that triggered the Workflow was ${{ github.event_name }}"
